/*
External Calls
--------------------------------------------*/
/* File Path Constants */
/* Breakpoints */
/*

Initialization/Defaults
--------------------------------------------*/
/* --- Block Elements --- */
html
{
    font-size: 62.5%;

    width: 100%;
    height: 100%;

    color: #000; 
    background: #fff;
}

/* 62.5% = 10px = 1.0rem */
a img
{
    border: none;
}

/* --- Block Text --- */
div
{
    margin: 0;
}

/* Localize if necessary */
/* --- Text Elements --- */
a
{
    text-decoration: underline; 

    color: #000;
}

a:hover,
a:focus,
a:active
{
    text-decoration: none;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

/* --- Form/Inputs --- */
form
{
    margin: 0;
    padding: 0;
}

fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}

legend
{
    color: #000;
}

label
{
    font-size: 14px;
    font-size: 1.4rem;

    display: block;

    cursor: pointer; 

    color: #000;
}

input[type='text']
{
    font-size: 15px;
    font-size: 1.5rem;

    margin-bottom: 0;
    padding: .3rem .5rem;

    color: #000; 
    border: 2px solid #ccc;
}

input[type='radio'],
input[type='checkbox']
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    vertical-align: middle;
}

input[type='text'][disabled]
{
    background: #fff;
}

::-webkit-input-placeholder
{
    color: #000;
}

::-moz-placeholder
{
    color: #000;
}

/* firefox 19+ */
:-ms-input-placeholder
{
    color: #000;
}

/* ie */
input:-moz-placeholder
{
    color: #000;
}

/* 
     Utility ID's
     ----------------------- */
.clear
{
    font-size: 0;
    line-height: 0; 

    display: block;
    clear: both;
    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: 0 -.1rem -.1rem 0;

    border: 0;
}

.hide,
.ui-countryselector legend
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 0 !important;
    height: 0;
}

/*
Country Selector UI
--------------------------------------------*/
/* Auto Complete */
#autoCountry
{
    position: absolute;
}

.quoteWidget .ui-autocomplete
{
    top: auto !important;
    left: auto !important;

    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    height: 200px;
    margin: 3.5rem 0 0;
    padding: 0;
}

.quoteWidget .ui-menu-item
{
    position: relative;

    min-height: 0;
    margin: 0;
    padding: 0;

    list-style-image: none; 

    cursor: default;

    border: 0;
    background: transparent none;
}

.quoteWidget .ui-menu button,
.quoteWidget .ui-menu button:hover,
.quoteWidget .ui-menu button:focus,
.quoteWidget .ui-menu button:active
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 0 0 3rem;

    cursor: pointer;
    text-align: left; 

    border: 0 !important;
    background: transparent none !important;
}

.quoteWidget .ui-menu button:hover,
.quoteWidget .ui-menu button:focus,
.quoteWidget .ui-menu button:active
{
    text-decoration: underline;
}

/*
  Country/Region Selector 
-----------------------------*/
/* Display Field */
#country
{
    font-size: 1.6rem;

    position: relative;
    z-index: 5;

    display: block;
    float: left;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    height: 34px;
    margin: 0;
    padding: .5rem 3.5rem 0 8.9rem;

    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #000;
    border: 2px solid #ccc;
}

label[for='country']
{
    font-size: 1.5rem;

    position: relative;
    z-index: 6;
    top: 7px;
    left: 11px;

    width: 70px;
    margin: .1rem 0 -2rem;

    cursor: default;
}

/* Selector Button */
.countrySelector
{
    position: absolute;
    z-index: 5;

    float: right;
    overflow: hidden;

    width: 22px;
    height: 22px;
    margin: .6rem 0 0 -2.8rem;

    cursor: pointer;
    text-indent: -300px; 

    border: 0;
    background: url(../files/images/backgrounds/bkg-country.png) no-repeat 50% 50%;
    background-size: 22px auto;
}
.countrySelector.countrySelector.openCountry
{
    display: none;
}

/* Close Window */
.ui-countryselector .closeWindow
{
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;

    position: relative;
    top: -78px;
    left: 2px;

    display: block;
    float: right;
    overflow: hidden;

    width: 60px;
    height: 30px;
    margin: 0 0 0;
    padding: .3rem 0 0;

    text-align: center;
    text-decoration: none; 

    color: #fff !important;
    background: #000;
}
.ui-countryselector .closeWindow:hover,
.ui-countryselector .closeWindow:focus,
.ui-countryselector .closeWindow:active
{
    text-decoration: none;
}

/* Display Grid */
.ui-countryselector
{
    position: absolute;
    z-index: 4;
    top: 70px;

    width: 282px;
    height: 200px;
    margin: -1.3rem 0 0 -.4rem;
    padding: 4.5rem 0 0;

    border: 1px solid #ccc; 
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
            box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.ui-countryselector .groups-container
{
    position: absolute;

    overflow: auto;

    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #b1b1b1;
    background: #ddd;

    -webkit-overflow-scrolling: touch;
}

/* Region/Country Grouping */
.ui-countryselector .group
{
    width: 100%;
}
.ui-countryselector .group.active
{
    z-index: 1000;
}

/* Labels */
.ui-countryselector .group-label
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    height: 50px;
    margin: 0;

    -webkit-user-select: none;

    border-bottom: 1px solid #b1b1b1;
}
.ui-countryselector .group-label strong
{
    font-size: 1.6rem;
    font-weight: normal;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    height: 49px;
    padding: 1.5rem 1.5rem 0;

    background: #fff none;
}

.ui-countryselector .group input[type='radio']:checked + .group-label
{
    background: #fff;
}

.ui-countryselector .group input[type='radio']:checked + .group-label strong
{
    font-weight: bold;

    background-position: -70px 0;
    text-shadow: none;
}

/* Opening Regions */
input[type='radio'] + label ~ div.columns
{
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 100%;
    height: 0;
    margin: 0;
}

input[type='radio']:checked + label ~ div.columns
{
    position: static;

    height: auto;
}

/* Columns */
.ui-countryselector .column
{
    position: static;

    display: block;
    float: none;
    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;
}

.ui-countryselector .column input[type='radio']
{
    z-index: 1; 

    margin-left: 2rem;
}

.ui-countryselector .column label
{
    font-size: 1.5rem;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    height: 50px;
    margin: 0;
    padding: 1.3rem 1.5rem 0 2.5rem;

    -webkit-user-select: none;

    border-bottom: 1px solid #b1b1b1;
    border-radius: 0;
}

.ui-countryselector .group-label:hover strong
{
    font-weight: normal;
}

.ui-countryselector .group input[type='radio']:checked + .group-label strong
{
    /*background: #46c8fb none; font-weight: bold;*/
}

.ui-countryselector .column input[type='radio']:checked + label
{
    color: #fff; 
    background: #09c none;
}

/* -------------------------------- [ Breakpoints ] */
/* Desktop */
@media only screen and (min-width: 980px)
{
    /* Display Field */
    .ui-countryselector .closeWindow
    {
        font-size: 1.3rem; 

        top: -73px;
        left: 13px;

        width: 22px;
        height: 19px;
    }
    /* Display Grid */
    .ui-countryselector
    {
        top: 70px;

        width: 925px;
        height: 386px;
        min-height: 0;
        margin-left: -1.3rem;
        padding-top: 5.8rem;
    }
    .ui-countryselector .groups-container
    {
        font-size: 1.2rem; 

        height: 385px;

        border-top-color: #ddd;
        background: transparent url(../files/images/backgrounds/bkg-nav-regions.png) no-repeat;
        background-size: 170px 390px;
    }
    /* Region/Country Grouping */
    .ui-countryselector .group
    {
        position: absolute;
        left: 170px;

        width: 730px;
    }
    .ui-countryselector .group-label
    {
        position: absolute;

        display: block;

        width: 170px;
        height: 34px;
        margin-left: -17rem;

        border-bottom: 1px solid #b1b1b1;
    }
    .ui-countryselector .group-label strong
    {
        font-size: 1.1rem;
        font-weight: normal;
        line-height: 1.2;

        float: left;

        -webkit-box-sizing: border-box;
                box-sizing: border-box; 
        width: 150px;
        height: 22px;
        padding: 1.2rem 2rem 0 1rem;

        color: #292929;
        background: transparent none;
        text-shadow: 1px 1px 1px white;
    }
    .ui-countryselector .group input[type='radio']:checked + .group-label
    {
        background: #fff;
    }
    .ui-countryselector .group input[type='radio']:checked + .group-label strong
    {
        font-weight: bold;

        background-position: -70px 0;
        text-shadow: none;
    }
    /* Columns */
    .ui-countryselector .column
    {
        position: relative;
        z-index: 10;

        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
    }
    .ui-countryselector .column li
    {
        margin: 0 0 0 1rem;
        padding: 0;
    }
    .ui-countryselector .column label
    {
        font-size: 1.2rem;

        -webkit-box-sizing: border-box;
                box-sizing: border-box; 
        height: auto;
        padding: 1rem 0 1rem 2rem;

        cursor: pointer;

        border: 0;
        border-radius: 3px;
    }
    .ui-countryselector .column label:hover,
    .ui-countryselector .column label:focus,
    .ui-countryselector .column label:active
    {
        color: #000; 
        background: #ccc;
    }
    input[type='radio'] + label ~ div.columns
    {
        overflow: auto;
    }
    input[type='radio']:checked + label ~ div.columns
    {
        float: left;

        height: 360px;
        padding-top: 1rem;
    }
    /* Region Positioning */
    .region-1
    {
        top: 0;
    }
    .region-2
    {
        top: 35px;
    }
    .region-3
    {
        top: 70px;
    }
    .region-4
    {
        top: 105px;
    }
    .region-5
    {
        top: 140px;
    }
    .region-6
    {
        top: 175px;
    }
    .region-7
    {
        top: 210px;
    }
    .region-8
    {
        top: 245px;
    }
    .region-9
    {
        top: 280px;
    }
    .region-10
    {
        top: 315px;
    }
}

/*# sourceMappingURL=widget.css.map */
